body {
  background-color: #27293d;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-family: Verdana, sans-serif;
}

.join-card {
  width: 400px;
  height: 300px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.join-card .heading {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0;
}

.join-card p:nth-of-type(2) {
  text-align: center;
  color: rgb(193, 193, 193);
}

.join-card hr {
  width: 100%;
  border-color: rgb(111, 111, 111);
  margin: 25px 0;
}

.join-card input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #27293d;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.join-card button {
  width: 100%;
  padding: 8px;
  background-color: #2a994b;
  color: #fff;
  margin-top: 25px;
  font-size: 22px;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  padding-bottom: 15px;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.chat-box .header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0;
  border-bottom: 1px solid rgb(193, 193, 193);
}

.chat-box .heading {
  font-size: 25px;
  font-weight: 800;
  margin: 0;
}

.chat-box .online-count-container {
  margin: 0;
  color: rgb(193, 193, 193);
}

.chat-box .username-container {
  color: rgb(193, 193, 193);
}

.message-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.message-box input {
  width: 80%;
  padding: 5px;
  background-color: #27293d;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
}

.message-box button {
  font-size: 16px;
  padding: 8px 12px;
  border: 0;
  background-color: #2a994b;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.chat-messages-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding: 10px 20px;
  height: 100%;
  overflow-y: auto;
}

.chat-messages-list .sender {
  font-size: 12px;
  color: rgb(193, 193, 193);
  margin-bottom: 15px;
}

.chat-messages-list .chat-message {
  padding: 10px 15px;
  border-radius: 8px;
}

.left .chat-message {
  background-color: #444758;
}

.chat-messages-list .right {
  align-self: flex-end;
}

.right .chat-message {
  background-color: #2a994b;
}

.disconnect-message {
  width: fit-content;
  margin: 10px auto;
  padding: 10px 16px;
  border-radius: 30px;
  background-color: #444758;
  color: rgb(180, 180, 180);
}

.hidden {
  display: none;
}

.align-right {
  text-align: right;
}
